@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: Inter, "sans-serif";
  --drop-shadow-text: 1px 1px 2px black;
  --color-primary: #c2185b;
  --color-secondary: #fff0f5;
  --color-accent: #911b48;
  --color-background: #ffffff;
  --text-heading: #212121;
  --text-body: #757575;
  --animate-scroll-left: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
