---
import Image from "astro/components/Image.astro"
---

<!-- <div class="bg-[url(/banner.webp)] bg-no-repeat bg-cover bg-center">
  <div class="flex flex-col items-center justify-center p-4 pt-18 text-center text-white md:p-24 md:pt-40 h-dvh md:h-auto">
    <h1 class="text-3xl font-semibold md:text-6xl md:w-5xl drop-shadow-text mb-4">Beli Tinta Printer Berkualitas, Harga Lebih Efisien</h1>
    <div class="relative">
      <div class="bg-accent/50 blur-xl  absolute w-full h-full"></div>
      <p class="text-xl md:text-2xl md:w-2xl drop-shadow-text blur-none">Pusat jual beli tinta toner baru dan bekas. Terima lelangan Ex Kantor dengan harga tinggi. Hubungi Kontak Kami. Siap jemput khusus Jabodetabek.</p>
    </div>
  
    <div class="flex flex-col md:flex-row gap-4 w-full md:justify-center mt-8">
      <a href="#produk">
        <button class="p-2 text-md md:text-lg font-semibold text-black bg-white drop-shadow-text cursor-pointer md:p-4 rounded-xl w-full">Lihat Produk</button>
      </a>
      <a href="https://wa.me/62818606659" target="_blank">
        <button class="p-2 text-md md:text-lg font-semibold bg-accent drop-shadow-text cursor-pointer md:p-4 rounded-xl w-full">Hubungi Kami</button>
      </a>
    </div>
  </div>
</div> -->

<div class="mt-10 md:mt-18 overflow-hidden w-full">
  <Image src="/banner.webp" alt="banner" width={500} height={200} class="h-72 w-4xl md:h-dvh md:w-full object-cover object-left"/>
</div>