<div class="mt-8">
  <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126922.66147249543!2d106.56501119726562!3d-6.2197222999999955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f9baeb97a511%3A0x44c32444c46bf4d0!2sJual%20Beli%20Cartidge%20Bekas%20Manshiro%20Toner!5e0!3m2!1sid!2sid!4v1746026417310!5m2!1sid!2sid" 
    title="lokasi"
    width="600" 
    height="450" 
    style="border:0;" 
    allowfullscreen 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"
    class="w-full"
    ></iframe>
</div>